@using IP_Projekt.DB.Models
@using IP_Projekt.DB.Models.Enums
@model WizytaViewModel

    @{
        if (Model.user.Typ.Equals(user_type.lekarz))
        {
            <form method="post" asp-action="zakonczWizyte" asp-controller="Wizyta">
                <input asp-for="wizyta_id" class="invisible">
                <div class="card h-100 w-100">
                    <div class="card-header h-25">
                        <h3>@Model.wizyta.patientName</h3>
                    </div>
                    <div class="card-body h-75">
                        <div class="row">
                            <div class="card col-7 bg-light">
                                @*------------------------------------------------------------*@
                                <div class="mt-5">
                                    <div class="col">
                                        <label asp-for="Opis">Opis choroby podany przez pacjenta</label>
                                        <textarea asp-for="Opis" class="h-100 w-150 form-control" disabled="disabled"></textarea>
                                    </div>
                                </div>
                                @*------------------------------------------------------------*@
                                <div class="row" style="height: 200px">
                                    @*------------------------------------------------------------*@
                                    <div class="col">
                                        <label asp-for="Przebieg_wizyty">Przebieg wizyty</label>
                                        <textarea asp-for="Przebieg_wizyty" class="h-100 w-75 form-control"></textarea>
                                    </div>
                                    @*------------------------------------------------------------*@
                                    <div class="col">
                                        <label asp-for="Przepisane_leki">Przepisane leki</label>
                                        <textarea asp-for="Przepisane_leki" class="h-100 w-75 form-control"></textarea>
                                    </div>
                                    @*------------------------------------------------------------*@
                                </div>
                                <div class="h-50 w-75 mt-5">
                                    @Html.DropDownListFor(x => x.Stwierdzona_choroba,new SelectList(Enum.GetValues(typeof(ChorobaEnum))), "Stwierdzona choroba", new { @class = "form-control"})
                                </div>
                            </div>
                            <div class="col-5">
                                @Html.Partial("~/Views/Chat/ChatPartialView.cshtml")
                            </div>
                        </div>
                    </div>
                    <input type="submit" class="w-100 btn btn-danger align-bottom" value="Zakończ wizytę">
                </div>
            </form>
        }
        else
        {
            <div class="col-5">
                @Html.Partial("~/Views/Chat/ChatPartialView.cshtml")
            </div>
        }
    }

