@{
}

 <form class="container">
      <div class="card">
          <div class="card-header">
              <div class="list-group overflow-auto" style="height: 400px">
                      
              </div>
          </div>
          <div class="card-body">
              <div class="row">
                <div class="col-10">
                    <input class="form-control" id="messageTxt" placeholder="Wpisz wiadomość"></input>
                </div>
                <div class="col-2">
                    <button id="sendBtn" type="button" class="btn btn-primary">Wślij</button>
                </div>
              </div>
          </div>
        </div>
 </form>

