@using IP_Projekt.Views.Home.ViewModels
@model LogowanieViewModel

@{
    ViewData["Title"] = "Logowanie";
}


<h2>Logowanie</h2>
<hr />
@using (Html.BeginForm())
{
    <div class = "cointainer mt-5">
        <div class = "row justify-content-center align-items-center>
            <div class = "col-sm-12 col-md-12 col-lg-4">
                <form method="post"></form>
                <div asp-validation-summary="All" class="text-danger"></div>
    
                
                <label class = "form-label">Adres email:</label>
                @Html.TextBoxFor(m => m.Email)
                
                
                <label class = "form-label">Hasło:</label>
                @Html.PasswordFor(m => m.Password)
    

                <input type = "submit" value="Zaloguj się" class="btn btn-default" />

                
                <input type = "submit" value="Nie masz konta? Zarejestruj się" class="btn btn-default" />
    

        </div>
    </div>
}
