@using IP_Projekt.DB.Models;
@model RejestracjaViewModel

<style>
.przycisk {
  background-color: #28F7B2; /* Green */
  border: none;
  color: white;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


</style>

@{
    ViewData["Title"] = "Rejestracja";
}

<h1>Zarejestruj się</h1>

<div class="row">
    <div class="col-md-12">
        <form method="post" asp-action="Register" asp-controller="Account">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="FirstName">Imię</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LastName">Nazwisko</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email">Adres Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password">Hasło</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ConfirmPassword">Potwierdź hasło</label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div> 
                       
           @* <div class="form-group">
                
                <input type = "radio" name = "loc_typ" value = "lekarz" >Lekarz</>
                <input type = "radio" name = "loc_typ" value = "pacjent">Pacjent</>
            </div>*@

            <button type="submit" class="przycisk">Zarejestruj się</button>
        </form>

    </div>
</div>

